body{
    height: 135vh;
    background-color: black;
}
h1.headerMain{
    text-align: center;
    color: white;
    font-size: 50px;
}
main{
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
section.contacto_habilidades{

    width: 34%;
    height: 100%;
    background-color: #087F84;
}
section.informaci贸n{
    align-items: center;
    width: 64%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
h1{
    margin-top: 5%;
    color: #06656A;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}
section.contacto{
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 25%;
    width: 85%;
    height: auto;
}
section.contacto_habilidades h4{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
}
section.contacto h2, section.skills h2{
    color: white;
    font-size: 18px;
}
h4{
    margin-left: 5%;
}
section.contacto p, section.skills p,li, section.informacion p{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    width: 85%;
    margin-left: 10%;
}
section.skills{
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 40%;
    width: 85%;
    height: auto;
}
img.name{
    margin-top: 0px;
    width: 200px;
    height: 10px;
}
img.image-profile{
    margin-top: 35px;    
    width: 100px;
    height: 100px;
}
section.informaci贸n h4, h2{
    color: #087F84;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-align: left;
}
section.hobbies{
    margin-right: 45%;
}
section.informaci贸n p, section.informaci贸n li{
    color: gray;
    margin-left: 25px;
    margin-right: 38px;
    text-align: justify;
}
h3.trabajo{
    color: black;
    font-size: 13px;
    text-align: left;
    margin-left: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}